<mat-card class="container">
    <mat-card-header>
      <mat-card-title>PERRITOS MALVADOS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input matInput placeholder="example@email.com" type="email"  required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña:</mat-label>
        <input matInput placeholder="Password" type="password" required>
      </mat-form-field>
      <button mat-flat-button type="submit" >Iniciar Sesión</button>
    </mat-card-content>
  </mat-card>
