<div class="header">
    <nav>
        <a><img src= "../Images/Icono pagina.png" alt="PMIcono" width="250"></a>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Proyectos</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Chat-Bot</a></li>
        </ul>
    </nav>

    <div class = "header_buttons">
        <button mat-flat-button color="primary">Iniciar Sesion</button>
        <button mat-stroked-button color="primary">Registrarse</button>
        
        <button mat-fab color="warn">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-fab color="warn" >
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</div>