
    <div class = 'footer'>
        <h2>PM Design Company</h2>
        <p>
            design@perritosmalvados.com
            <br>
            Av Juan Pablo II, Colcapirhua
            <br>
            Cochabamba, Bolivia
            <br>
            +591 12345678
        </p>

        <div>
            <button mat-fab color="accent" id = "foot_fb_bt"> <mat-icon>home</mat-icon></button>
            <button mat-fab color="accent" id = "foot_ig_bt"></button>
            <button mat-fab color="accent" id = "foot_tw_bt"> <mat-icon svgIcon="thumbs-up"></mat-icon> </button >
            <button mat-fab color="accent" id = "foot_ph_bt"><mat-icon >call</mat-icon></button>
        </div>
        
    </div>
